.post {
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
  display: flex;
  margin: $margin-lg 0;
  height: 350px;
  .post__thumb {
    background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 50%, #000000 100%);
    color: #fff;
    width: 50%;
    position: relative;
    padding: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    .post__thumb--mask {
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
    .post__user-info {
      display: flex;
      align-items: center;
      font-weight: bold;
      img {
        margin-right: 10px;
      }
    }
    .post__actions {
      height: 40px;
      display: flex;
      align-items: center;
      a {
        margin: 0 10px;
        color: #fff;
        text-decoration: none;
        transition: ease all .2s;
        &.ic-like.active {
          color: $pink;
        }
        &.ic-share.active {
          color: $light-blue;
        }
        span {
          color: #fff;
        }
        svg {
          margin-right: 5px;
          width: 12px;
          height: 12px;
        }
      }
    }
  }
  .post__content {
    color: $gray;
    width: 50%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    p {
      margin: 20px 0;
    }
    .show-more {
      color: $light-blue;
      text-decoration: none;
      font-weight: bold;
      &:hover {
        color: $pink;
      }
    }
    .post__comment {
      border: 1px solid $gray-light;
      border-radius: 5px;
      margin-top: $margin-md;
      form {
        display: flex;
        flex-direction: column;
        textarea {
          border: 0;
          resize: none;
          margin: 5px;
          padding: 10px 10px;
        }
        .comment__actions {
          border-top: 1px solid $gray-light;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 10px 10px;
          p {
            cursor: pointer;
            margin: 0;
            font-size: .8em;
          }
          input[type='submit'] {
            background-color: transparent;
            border: 0;
            color: $pink;
            cursor: pointer;
            font-weight: bold;
            &:hover {
              color: $light-blue;
            }
          }
        }
      }
    }
    .post__comment-list {
      background-color: #fff;
      box-sizing: border-box;
      display: none;
      width: 100%;
      height: 100%;
      padding: 20px;
      position: absolute;
      top: 0;
      left: 0;
      overflow: auto;
      .comment-list__close {
        cursor: pointer;
        padding: 10px;
        position: absolute;
        top: 10px;
        right: 10px;
      }
      .comment-list__item {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        img {
          flex-grow: 1;
          margin-right: 10px;
        }
        p {
          margin: 0 0 20px 0;
          width: calc(100% - 50px);
          a {
            color: $light-blue;
            text-decoration: none;
            font-weight: bold;
            &:hover {
              color: $pink;
            }
          }
          span {
            color: $gray-light;
            display: block;
            margin-top: $margin-sm;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $screen-sm) {
  .post {
    flex-direction: column;
    height: 100%;
    .post__thumb, .post__content {
      box-sizing: border-box;
      width: 100%;
    }
    .post__thumb {
      height: 120px;
    }
  }
}