.share-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $margin-lg;
  form {
    display: flex;
    width: calc(100% - 95px);
    input[type="text"] {
      border: 1px solid $gray-light;
      border-radius: 5px;
      padding: 15px 20px;
      flex-grow: 1;
      margin: 0 $margin-sm;
    }
    input[type="submit"] {
      background-color: $pink;
      border: none;
      border-radius: 5px;
      color: #fff;
      cursor: pointer;
      padding: 15px 50px;
      font-weight: bold;
      &:hover {
        background-color: $light-blue;
      }
    }
  }
}

@media screen and (max-width: $screen-sm) {
  .share-content {
    padding: $margin-lg 0;
    img {
      display: none;
    }
    form {
      width: 100%;
      flex-direction: column;
      input[type="text"] {
        margin: $margin-sm 0;
      }
    }
  }
}